 .kitoks {  
    padding: 100px 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    display: inline-block;
}
.kitoks > .nmargin {
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    display: inline-block;
}
    .heder {
        width: 100%;
        margin-bottom: 100px;
        display: inline-block;
    }
    .heder > h3 {
        font-size: 40px ;
        background-image: url(http://www.innovationplans.com/idesign/daniels/img/dots.png);
        background-repeat: repeat;
        display: inline-block;
    }
    .contactbox {
        width: 80%;
        display: inline-block;
    }
        .info-box {
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 60px;
            width: 33%;
            text-align: center;
            display: inline-block;
        }
            .bubble {
                width: 60px;
                height: 60px;
                text-align: center;
                background-color: #F4F4F4;
                border-radius: 50%;
                margin-bottom: 25px;
                font-size: 25px;
                display: inline-block;
            }
            .bubble:hover {
                background-color: black;
                color: #F4F4F4;
                border: solid 1px #F4F4F4;
                transition: all .5s;
            }
            .bubble > i {
                line-height: 60px;
            }
            .info-box > h6 {
                font-size: 17px;
                color: #443344;
                width: 100%;
                margin-bottom: 25px;
            }
            .info-box > p {
                font-size: 15px;
                color: #7481A2;
                width: 100%;
                font-family: 'Montserrat', sans-serif;
            }
    

        .inputai {
        width: 50%;
        padding: 0 10px;
        float: left;
        display: inline-block;
    }
        .inputai > .inputas {
            padding: 15px 0;
            margin-bottom: 20px;
            width: 100%;
            text-align: center;
            border: none;
            background-color: #F4F4F4;
            border-radius: 5px;
        }
        .inputas > .ehh {
            border: none;
            width: 95%;
            background: none;
            font-family: 'Montserrat', sans-serif;
            color: #7481A2;
        }
        .ehh:focus {
            outline: none;
        }
    .textarea {
        width: 100%;
        padding: 0 10px;
    }
        .textarea > .yeet {
            background-color: #F4F4F4;
            width: 100%;
            border: none;
            border-radius: 5px;
            line-height: 30px;
            padding: 0 10px;
            resize: none;
            margin-bottom: 20px;
            font-family: 'Montserrat', sans-serif;
            color: #7481A2;
        }
        .yeet:focus {
            outline: none;
        }

    .btleft {
        width: 100%;
        text-align: left;
        padding: 0 10px;
    }

    .btn {
        border: none;
        padding: 12px 45px;
        background-color: #1C1C1C;
        color: #F4F4F4;
        border-radius: 5px;
        text-align: left;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #F4F4F4;
        color: black;
        border: solid 1px black;
        transition: all .5s;
    }

@media (max-width: 1050px) {
    .info-box {
        width: 100%;
    }
    .inputai {
        width: 100%;
    }
}
       
            