body {
    margin:0;
    padding:0;
    height: 100vh;
    position:relative;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth
}
.header {
    width:100%;
    padding:0;
    margin:0;
    box-sizing: border-box;

}
#loader { 
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid black; 
    width: 50px; 
    height: 50px; 
    animation: spin 1s linear infinite; 
} 
  
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 
  
.center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
}
#particles-js{
    height:100%;
    margin-bottom: 30px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    text-align: center;
    height: 700px;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);

}
.nav {
    display:inline-block;
    position: absolute;
    width:100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin-top: 40px;
    z-index: 3;
    box-sizing: content-box;   
}
.nav > .select{
    float:right;
    margin-right:60px;
}

.nav > .select a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color:white;
    margin-right: 40px;
}
.nav > .select > a.selected{
    border-bottom: solid 3px white;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:100% 50%
}

.nav > :last-child{
    text-decoration: none;
    color:white;
    float:left;
    font-size: 26px;
    font-weight: 600;
    margin-left: 80px;
    line-height: 1;

}

.kitasNav {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    float:right;
}
.kitasNav > .select{
    float:right;
    margin-right: 60px;
      
}
.kitasNav > .select a{
    display:inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color:black;
    margin-right: 40px;
    padding-top: 20px;
  
    
}
.kitasNav > .select > a.selected{
  border-bottom: solid 3px #000;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin:100% 50%
  }

.kitasNav > :last-child{
    text-decoration: none;
    position:fixed;
    font-size: 26px;
    font-weight: 600;
    margin-left: 80px;
    line-height: 2;
    color:black;
}
.hero{
    padding-bottom: 40px;
}
.hero > .intro{
    width:100%;
    font-size: 40px; 
    color:white;  
    position:absolute;
    margin-top: 230px;
    text-align: center;
  
}
.hero > .intro > p{
    font-weight: 100;
    margin: 0.4em 0;
    color: white;
    font-size: 70px;
    line-height: 1;

}
.hero > .intro >.row .fa{
   display:inline;
   font-size: 14px;
   text-decoration: none;
   color:white;
   line-height: 8;
   box-sizing: content-box;
   background-color: aqua;
   padding:8px 12px;
   border-radius: 50%;
   background: rgba(0,0,0,0.5);
}




