.portfolio {
  display: inline-block;
  text-align: center;
  width: 1400px;
  margin: 70px calc(50% - 700px);
  margin-bottom: 50px;

}

.portfolio > h2 {
  font-size: 3.25rem;
  position: absolute;
  left: 50%;
  margin-top: 0px;
  color: #343434;
  transform: translate(-50%, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.portfolio > h2::after {
  position: absolute;
  background: url(../img/dots.png);
  content: "";
  top: 10px;
  right: 5px;
  position: absolute;
  top: 25px;
  left: -20px;
  z-index: -2;
  display: inline-block;
  width: 100%;
  height: 50%;
}

.portfolio > .filter-buttons {
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 50px;
}
.portfolio > .filter-buttons > span {
  display: inline-block;
  justify-content: center;
  margin: 0 18px;
  color: #222;
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: 600;
}

.portfolio > .filter-buttons > span.active::after {
  content: "";
  display: block;
  height: 2px;
  width: 85%;
  background: black;
  z-index: -1;
  transition: all 1s;
}
.portfolio > .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.portfolio > .gallery > div > img {
  width: 100%;
}
.portfolio > .gallery > div > img:hover {
  width: 100%;
}
.portfolio > .gallery > div {
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.98);
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  opacity: 0;
  padding-top: 150px;
  transition: 0.5s;
  /* transform: translateY(0px); */
}
.overlay:hover {
  opacity: 1;
}
.gallery-title {
  font-size: 14px;
  position: relative;
  font-weight: 600;
  transition: all 0.5s;
  margin-bottom: 40px;
}
.chain,
.zoom-in {
  display: inline-block;
  background-color: black;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  color: white;
  border-radius: 50%;
  border: 1px solid black;
}
.chain:hover,
.zoom-in:hover {
  display: inline-block;
  background-color: white;
  width: 35px;
  height: 35px;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
}

.fa-search-plus:before {
  display: inline-block;
  margin-top: 8px;
}
.fa-chain-broken:before {
  display: inline-block;
  margin-top: 8px;
}

@media (max-width: 1400px) {
  .portfolio {
  display: inline-block;
  text-align: center;
  width: 800px;
  margin: 0 calc(50% - 400px);
  margin-bottom: 50px;

  }

@media (max-width: 1100px) {
    .portfolio {
    display: inline-block;
    text-align: center;
    width: 600px;
    margin: 0 calc(50% - 300px);
    margin-bottom: 50px;

    }
   
@media (max-width: 700px) {
  .portfolio > .gallery {
    display: grid;
    grid-template-columns: 1fr;
  }
  .portfolio > .gallery > div > img {
    width: 25%;
  }
  .portfolio > .gallery > div > img:hover {
    width: 25%;
  }

}