.portfolio {
    display: inline-block;
    text-align: center;
    width: 1400px;   
    margin:70px calc(50% - 700px);
}


.portfolio > h2 {
    font-size: 3.25rem;
    position: relative;
    display: inline-block;
    width: 180px;
    height: 40px;
    font-weight: 600;
}
.portfolio > h2::after {
    position: absolute;
    background: url(../img/dots.png);
    content: "";
    top: 34px;
    left: -15px;
    z-index: -1;
    display: inline-block;
    width: 120%;
    height: 60%;
}
.portfolio > .filter-buttons {
    justify-content: center;
    margin: 40px 0;
  
   
}
.portfolio > .filter-buttons > span {
    display: inline-block;
    justify-content: center;
    margin: 0 20px;
    color: #222;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: 600;
}

.portfolio > .filter-buttons > span.active::after {
    content: '';
    display: block;
    height: 2px;
    width: 85%;
    background: black;
    z-index: -1;
    transition: all 1s;

}
.portfolio > .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.portfolio > .gallery > div > img {
    width: 100%;
}
.portfolio > .gallery > div > img:hover {
    width: 100%;
    
}



@media (max-width: 1400px){


    .portfolio > .gallery {
        display: grid;
        grid-template-columns: 1fr;
}
.portfolio > .gallery > div > img {
    width:50%;
}
.portfolio > .gallery > div > img:hover {
    width:50%;
}
}
@media (max-width: 1000px){


    .portfolio > .gallery {
        display: grid;
        grid-template-columns: 1fr;
}
.portfolio > .gallery > div > img {
    width: 25%;
}
.portfolio > .gallery > div > img:hover {
    width: 25%;
}
}
