.running_number-container {
    width: 100%;
    background-color: white;
    /* padding: 100px 0 70px; */
    box-sizing: border-box;
    
}
.running_number-container > .column {
    width: 25%;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 100px 10px;
    margin-top: 0;
    
}
.running_number-container > .column i{
    font-size: 30px;
    padding: 0;
    
}
.running_number-container > .column :nth-child(2){
    font-size: 30px;
    line-height: 30px;
    padding: 10px 0;
    font-weight: bold;
    
}
.running_number-container > .column p{
    color: rgb(134, 134, 134);
    font-weight: bolder;
}


@media (max-width: 700px) {
    .running_number-container > .column {
        width: 100%;
        padding: 20px;
    }
    .running_number-container {
        width: 100%;
        background-color: white;
        padding: 10px 0;
    }


}