.services {
    display: inline-block;
    text-align: center;
    background-color: #f7f7f7;
}
.services > .services-box {
    display: inline-block;
    width: 25%;
    padding: 30px;
    background-color: white;
    margin: 25px;
}
.services-box > i {
    display: inline-block;
    font-size: 2rem;
    margin: 0.5rem 0
}


